In [1]:
import pandas as pd
import numpy as np
import os
import re
import math
from itertools import product
import time

In [2]:
data_dir  = "/media/sony/0CA83E99A83E80EE/Chris/Bocconi/Thesis/Data_copy/Data/FDI"

In [3]:
#generate country code map
names_convertAB = {'Congo, Democratic Rep. of' : 'Democratic Republic of Congo',
           'Venezuela, Bolivarian Rep. of': 'Bolivarian Republic of Venezuela',
          'United Rep. of Tanzania': 'United Republic of Tanzania',
           'Korea, Republic of': 'Republic of Korea',
           'Iran, Islamic Republic of': 'Islamic Republic of Iran',
           'Moldova, Republic of': 'Republic of Moldova',
           'Bolivia, Plurinational State of': 'Plurinational State of Bolivia',
            "Lao People's Dem. Rep.": "Lao People's Democratic Republic"
          }
names_convertBA = dict( [(value, key) for key, value in names_convertAB.items()] )
country_code_map = dict()
for path in os.listdir(data_dir):
    country_code = re.findall(r'_([A-Z]+)', path)[0]
    hostname_df = pd.read_excel(data_dir+'/' + path, sheet_name= 0, na_values ='..')
    country_code_map[" ".join(hostname_df.columns[0].split())] = country_code
for key, val in names_convertBA.items():
    country_code_map[val] = country_code_map[key]
    del country_code_map[key]

In [4]:
country_code_map

{'Aruba': 'ABW',
 'Afghanistan': 'AFG',
 'Angola': 'AGO',
 'Anguilla': 'AIA',
 'Albania': 'ALB',
 'Netherlands Antilles': 'ANT',
 'United Arab Emirates': 'ARE',
 'Argentina': 'ARG',
 'Armenia': 'ARM',
 'American Samoa': 'ASM',
 'Antigua and Barbuda': 'ATG',
 'Australia': 'AUS',
 'Austria': 'AUT',
 'Azerbaijan': 'AZE',
 'Burundi': 'BDI',
 'Belgium': 'BEL',
 'Turkey': 'TUR',
 'Tuvalu': 'TUV',
 'Taiwan Province of China': 'TWN',
 'Uganda': 'UGA',
 'Ukraine': 'UKR',
 'Uruguay': 'URY',
 'United States': 'USA',
 'Saint Vincent and the Grenadines': 'VCT',
 'British Virgin Islands': 'VGB',
 'US Virgin Islands': 'VIR',
 'Viet Nam': 'VNM',
 'Vanuatu': 'VUT',
 'Samoa': 'WSM',
 'Yemen': 'YEM',
 'South Africa': 'ZAF',
 'Zambia': 'ZMB',
 'Zimbabwe': 'ZWE',
 'Suriname': 'SUR',
 'Slovakia': 'SVK',
 'Slovenia': 'SVN',
 'Sweden': 'SWE',
 'Swaziland': 'SWZ',
 'Seychelles': 'SYC',
 'Syrian Arab Republic': 'SYR',
 'Turks and Caicos Islands': 'TCA',
 'Chad': 'TCD',
 'Togo': 'TGO',
 'Thailand': 'THA',
 'Tajikistan': 'TJK',
 'Tokelau': 'TKL',
 'Timor-Leste': 'TLS',
 'Tonga': 'TON',
 'Trinidad and Tobago': 'TTO',
 'State of Palestine': 'PSE',
 'French Polynesia': 'PYF',
 'Qatar': 'QAT',
 'Reunion': 'REU',
 'Romania': 'ROU',
 'Russian Federation': 'RUS',
 'Rwanda': 'RWA',
 'Saudi Arabia': 'SAU',
 'Sudan': 'SDN',
 'Senegal': 'SEN',
 'Singapore': 'SGP',
 'Saint Helena': 'SHN',
 'Solomon Islands': 'SLB',
 'Sierra Leone': 'SLE',
 'El Salvador': 'SLV',
 'Somalia': 'SOM',
 'Serbia': 'SRB',
 'Benin': 'BEN',
 'Botswana': 'BWA',
 'Cyprus': 'CYP',
 'Federated States of Micronesia': 'FSM',
 'India': 'IND',
 'The FYR of Macedonia': 'MKD',
 'Nicaragua': 'NIC',
 'Paraguay': 'PRY',
 'São Tomé and Principe': 'STP',
 'Tunisia': 'TUN',
 'Niue': 'NIU',
 'Netherlands': 'NLD',
 'Norway': 'NOR',
 'Nepal': 'NPL',
 'Nauru': 'NRU',
 'New Zealand': 'NZL',
 'Oman': 'OMN',
 'Pakistan': 'PAK',
 'Panama': 'PAN',
 'Peru': 'PER',
 'Philippines': 'PHL',
 'Palau': 'PLW',
 'Papua New Guinea': 'PNG',
 'Poland': 'POL',
 'Puerto Rico': 'PRI',
 "Korea, Democratic People's Republic of": 'PRK',
 'Portugal': 'PRT',
 'Mali': 'MLI',
 'Malta': 'MLT',
 'Myanmar': 'MMR',
 'Montenegro': 'MNE',
 'Mongolia': 'MNG',
 'Northern Mariana Islands': 'MNP',
 'Mozambique': 'MOZ',
 'Mauritania': 'MRT',
 'Mauritius': 'MUS',
 'Malawi': 'MWI',
 'Malaysia': 'MYS',
 'Namibia': 'NAM',
 'New Caledonia': 'NCL',
 'Niger': 'NER',
 'Nigeria': 'NGA',
 'Lebanon': 'LBN',
 'Liberia': 'LBR',
 'Libya': 'LBY',
 'Saint Lucia': 'LCA',
 'Sri Lanka': 'LKA',
 'Lesotho': 'LSO',
 'Lithuania': 'LTU',
 'Luxembourg': 'LUX',
 'Latvia': 'LVA',
 'Macao, China': 'MAC',
 'Morocco': 'MAR',
 'Madagascar': 'MDG',
 'Maldives': 'MDV',
 'Mexico': 'MEX',
 'Marshall Islands': 'MHL',
 'Ireland': 'IRL',
 'Iraq': 'IRQ',
 'Iceland': 'ISL',
 'Israel': 'ISR',
 'Italy': 'ITA',
 'Jamaica': 'JAM',
 'Jordan': 'JOR',
 'Japan': 'JPN',
 'Kazakhstan': 'KAZ',
 'Kenya': 'KEN',
 'Kyrgyzstan': 'KGZ',
 'Cambodia': 'KHM',
 'Saint Kitts and Nevis': 'KNA',
 'Kuwait': 'KWT',
 'Gabon': 'GAB',
 'United Kingdom': 'GBR',
 'Georgia': 'GEO',
 'Ghana': 'GHA',
 'Guinea': 'GIN',
 'Gambia': 'GMB',
 'Guinea-Bissau': 'GNB',
 'Equatorial Guinea': 'GNQ',
 'Greece': 'GRC',
 'Grenada': 'GRD',
 'Guatemala': 'GTM',
 'Hong Kong, China': 'HGK',
 'Honduras': 'HND',
 'Croatia': 'HRV',
 'Haiti': 'HTI',
 'Hungary': 'HUN',
 'Indonesia': 'IDN',
 'Czech Republic': 'CZE',
 'Germany': 'DEU',
 'Djibouti': 'DJI',
 'Dominica': 'DMA',
 'Denmark': 'DNK',
 'Dominican Republic': 'DOM',
 'Algeria': 'DZA',
 'Ecuador': 'ECU',
 'Egypt': 'EGY',
 'Eritrea': 'ERI',
 'Spain': 'ESP',
 'Estonia': 'EST',
 'Ethiopia': 'ETH',
 'Finland': 'FIN',
 'Fiji': 'FJI',
 'France': 'FRA',
 'Central African Republic': 'CAF',
 'Canada': 'CAN',
 'Switzerland': 'CHE',
 'Chile': 'CHL',
 'China': 'CHN',
 "Côte d' Ivoire": 'CIV',
 'Cameroon': 'CMR',
 'Congo': 'COG',
 'Cook Islands': 'COK',
 'Colombia': 'COL',
 'Comoros': 'COM',
 'Cape Verde': 'CPV',
 'Costa Rica': 'CRI',
 'Cayman Islands': 'CYM',
 'Burkina Faso': 'BFA',
 'Bangladesh': 'BGD',
 'Bulgaria': 'BGR',
 'Bahrain': 'BHR',
 'Bahamas': 'BHS',
 'Bosnia and Herzegovina': 'BIH',
 'British Indian Ocean Territory': 'BIOT',
 'Belarus': 'BLR',
 'Belize': 'BLZ',
 'Bermuda': 'BMU',
 'Brazil': 'BRA',
 'Barbados': 'BRB',
 'Brunei Darussalam': 'BRN',
 'Bhutan': 'BTN',
 'Congo, Democratic Rep. of': 'COD',
 'Venezuela, Bolivarian Rep. of': 'VEN',
 'United Rep. of Tanzania': 'TZA',
 'Korea, Republic of': 'KOR',
 'Iran, Islamic Republic of': 'IRN',
 'Moldova, Republic of': 'MDA',
 'Bolivia, Plurinational State of': 'BOL',
 "Lao People's Dem. Rep.": 'LAO'}

In [5]:
country_code_map['Hong Kong, China'] = 'HKG'
country_code_map['Monaco'] ='MCO'
country_code_map['Guam'] ='GUM'
country_code_map['Liechtenstein'] = 'LIE'
country_code_map['Faeroe Islands'] = 'FRO'

In [6]:
directory  = "/media/sony/0CA83E99A83E80EE/Chris/Bocconi/Thesis/Data_copy/Data/"

In [7]:
north_south_df = pd.read_csv(directory +'north_south_classification.csv')

In [8]:
north_south_df

                               Country               Region  Global South code
0                              Andorra               Europe  Global North  AND
1                 United Arab Emirates          Arab States  Global South  ARE
2                          Afghanistan       Asia & Pacific  Global South  AFG
3                  Antigua and Barbuda  South/Latin America  Global South  ATG
4                             Anguilla  South/Latin America  Global South  AIA
5                              Albania               Europe  Global North  ALB
6                              Armenia               Europe  Global South  ARM
7                 Netherlands Antilles  South/Latin America  Global South  ANT
8                               Angola               Africa  Global South  AGO
9                           Antarctica       Asia & Pacific  Global South  NaN
10                           Argentina  South/Latin America  Global South  ARG
11                      American Samoa       Asia & Pacific  Global South  ASM
12                             Austria               Europe  Global North  AUT
13                           Australia       Asia & Pacific  Global North  AUS
14                               Aruba  South/Latin America  Global South  ABW
15                          Azerbaijan       Asia & Pacific  Global South  AZE
16              Bosnia and Herzegovina               Europe  Global North  BIH
17                            Barbados  South/Latin America  Global South  BRB
18                          Bangladesh       Asia & Pacific  Global South  BGD
19                             Belgium               Europe  Global North  BEL
20                        Burkina Faso               Africa  Global South  BFA
21                            Bulgaria               Europe  Global North  BGR
22                             Bahrain          Arab States  Global South  BHR
23                             Burundi               Africa  Global South  BDI
24                               Benin               Africa  Global South  BEN
25                             Bermuda        North America  Global North  BMU
26                   Brunei Darussalam       Asia & Pacific  Global South  BRN
27                             Bolivia  South/Latin America  Global South  BOL
28                              Brazil  South/Latin America  Global South  BRA
29                             Bahamas  South/Latin America  Global South  BHS
..                                 ...                  ...           ...  ...
228                          Venezuela  South/Latin America  Global South  VEN
229            Virgin Islands, British  South/Latin America  Global South  VGB
230               Virgin Islands, U.S.  South/Latin America  Global South  VIR
231                            Vietnam       Asia & Pacific  Global South  VNM
232                            Vanuatu       Asia & Pacific  Global South  VUT
233                  Wallis and Futuna       Asia & Pacific  Global South  WLF
234                              Samoa       Asia & Pacific  Global South  WSM
235                              Yemen          Arab States  Global South  YEM
236                            Mayotte               Africa  Global South  MYT
237                             Serbia               Europe  Global North  SRB
238                       South Africa               Africa  Global South  ZAF
239                             Zambia               Africa  Global South  ZMB
240                         Montenegro               Europe  Global North  MNE
241                           Zimbabwe               Africa  Global South  ZWE
242                      Aland Islands               Europe  Global North  ALA
243                           Guernsey               Europe  Global North  GGY
244                        Isle of Man               Europe  Global North  IMN
245                             Jersey               Europe  Global North  JEY
246                   Saint Barthelemy  South/Latin America  Global South  BLM
247                       Saint Martin  South/Latin America  Global South  MAF
248                    Anonymous Proxy              Unknown           NaN  NaN
249                 Satellite Provider              Unknown           NaN  NaN
250                              Other              Unknown           NaN  NaN
251                Asia/Pacific Region       Asia & Pacific           NaN  NaN
252                             Europe               Europe           NaN  NaN
253                         Invalid IP              Unknown           NaN  NaN
254             Libyan Arab Jamahiriya              Unknown           NaN  NaN
255  Bonaire, Saint Eustatius and Saba              Unknown           NaN  NaN
256          Sint Maarten (Dutch part)  South/Latin America           NaN  SXM
257                            Curaçao  South/Latin America           NaN  CUW

[258 rows x 4 columns]

In [9]:
oceania_countries = ['Australia','New Zealand','Papua New Guinea','Fiji','Solomon Islands','Vanuatu','New Caledonia',
                     'French Polynesia','Samoa','Guam','Micronesia, Federated States of','Tonga','American Samoa','Northern Mariana Islands',
                     'Marshall Islands','Palau','Cook Islands', 'Wallis and Futuna','Tuvalu','Nauru','Norfolk Island',
                     'Niue', 'Tokelau','Pitcairn Islands']

In [10]:
north_south_df.loc[north_south_df.Country.isin(oceania_countries), ['Region']] = 'Oceania'

In [11]:
north_south_df[north_south_df.Country.isin(oceania_countries)]

                             Country   Region  Global South code
11                    American Samoa  Oceania  Global South  ASM
13                         Australia  Oceania  Global North  AUS
42                      Cook Islands  Oceania  Global South  COK
67                              Fiji  Oceania  Global South  FJI
69   Micronesia, Federated States of  Oceania  Global South  FSM
88                              Guam  Oceania  Global South  GUM
135                 Marshall Islands  Oceania  Global South  MHL
141         Northern Mariana Islands  Oceania  Global South  MNP
153                    New Caledonia  Oceania  Global South  NCL
155                   Norfolk Island  Oceania  Global South  NFK
161                            Nauru  Oceania  Global South  NRU
162                             Niue  Oceania  Global South  NIU
163                      New Zealand  Oceania  Global North  NZL
167                 French Polynesia  Oceania  Global South  PYF
168                 Papua New Guinea  Oceania  Global South  PNG
173                 Pitcairn Islands  Oceania  Global South  PCN
177                            Palau  Oceania  Global South  PLW
185                  Solomon Islands  Oceania  Global South  SLB
210                          Tokelau  Oceania  Global South  TKL
213                            Tonga  Oceania  Global South  TON
217                           Tuvalu  Oceania  Global South  TUV
232                          Vanuatu  Oceania  Global South  VUT
233                Wallis and Futuna  Oceania  Global South  WLF
234                            Samoa  Oceania  Global South  WSM

In [12]:
north_south_df.Region.replace(to_replace='Asia & Pacific', value='Asia', inplace = True)

In [13]:
north_south_df[(north_south_df.Region == 'South/Latin America') &(north_south_df['Global South'] =='Global North')]

Empty DataFrame
Columns: [Country, Region, Global South, code]
Index: []

In [14]:
north_south_df[((north_south_df.Region == 'Asia') |(north_south_df.Region == 'South/Latin America')) & (north_south_df['Global South'] =='Global South')]

,Country,Region,Global South,code
2,Afghanistan,Asia,Global South,AFG
3,Antigua and Barbuda,South/Latin America,Global South,ATG
4,Anguilla,South/Latin America,Global South,AIA
7,Netherlands Antilles,South/Latin America,Global South,ANT
9,Antarctica,Asia,Global South,NaN
10,Argentina,South/Latin America,Global South,ARG
14,Aruba,South/Latin America,Global South,ABW
15,Azerbaijan,Asia,Global South,AZE
17,Barbados,South/Latin America,Global South,BRB
18,Bangladesh,Asia,Global South,BGD
26,Brunei Darussalam,Asia,Global South,BRN
27,Bolivia,South/Latin America,Global South,BOL
28,Brazil,South/Latin America,Global South,BRA
29,Bahamas,South/Latin America,Global South,BHS
30,Bhutan,Asia,Global South,BTN
31,Bouvet Island,South/Latin America,Global South,BVT
34,Belize,South/Latin America,Global South,BLZ
36,Cocos (Keeling) Islands,Asia,Global South,NaN
43,Chile,South/Latin America,Global South,CHL
45,China,Asia,Global South,CHN
46,Colombia,South/Latin America,Global South,COL
47,Costa Rica,South/Latin America,Global South,CRI
48,Cuba,South/Latin America,Global South,CUB
50,Christmas Island,Asia,Global South,CXR
56,Dominica,South/Latin America,Global South,DMA
57,Dominican Republic,South/Latin America,Global South,DOM
59,Ecuador,South/Latin America,Global South,ECU
68,Falkland Islands (Malvinas),South/Latin America,Global South,FLK
75,Grenada,South/Latin America,Global South,GRD
77,French Guiana,South/Latin America,Global South,GUF
...,...,...,...,...
150,Malaysia,Asia,Global South,MYS
157,Nicaragua,South/Latin America,Global South,NIC
160,Nepal,Asia,Global South,NPL
165,Panama,South/Latin America,Global South,PAN
166,Peru,South/Latin America,Global South,PER
169,Philippines,Asia,Global South,PHL
170,Pakistan,Asia,Global South,PAK
174,Puerto Rico,South/Latin America,Global South,PRI
178,Paraguay,South/Latin America,Global South,PRY
180,Reunion,Asia,Global South,REU
199,Suriname,South/Latin America,Global South,SUR
201,El Salvador,South/Latin America,Global South,SLV
202,Syrian Arab Republic,Asia,Global South,SYR
204,Turks and Caicos Islands,South/Latin America,Global South,TCA
206,French Southern Territories,Asia,Global South,NaN
208,Thailand,Asia,Global South,THA
209,Tajikistan,Asia,Global South,TJK
211,Turkmenistan,Asia,Global South,TKM
214,Timor-Leste,Asia,Global South,TLS
216,Trinidad and Tobago,South/Latin America,Global South,TTO
222,United States Minor Outlying Islands,Asia,Global South,NaN
224,Uruguay,South/Latin America,Global South,URY
225,Uzbekistan,Asia,Global South,UZB
227,Saint Vincent and the Grenadines,South/Latin America,Global South,VCT
228,Venezuela,South/Latin America,Global South,VEN
229,"Virgin Islands, British",South/Latin America,Global South,VGB
230,"Virgin Islands, U.S.",South/Latin America,Global South,VIR
231,Vietnam,Asia,Global South,VNM
246,Saint Barthelemy,South/Latin America,Global South,BLM
247,Saint Martin,South/Latin America,Global South,MAF

In [15]:
north_south_df.to_csv(directory +'north_south_classification2.csv', index = False)

In [16]:
country_code_map

{'Aruba': 'ABW',
 'Afghanistan': 'AFG',
 'Angola': 'AGO',
 'Anguilla': 'AIA',
 'Albania': 'ALB',
 'Netherlands Antilles': 'ANT',
 'United Arab Emirates': 'ARE',
 'Argentina': 'ARG',
 'Armenia': 'ARM',
 'American Samoa': 'ASM',
 'Antigua and Barbuda': 'ATG',
 'Australia': 'AUS',
 'Austria': 'AUT',
 'Azerbaijan': 'AZE',
 'Burundi': 'BDI',
 'Belgium': 'BEL',
 'Turkey': 'TUR',
 'Tuvalu': 'TUV',
 'Taiwan Province of China': 'TWN',
 'Uganda': 'UGA',
 'Ukraine': 'UKR',
 'Uruguay': 'URY',
 'United States': 'USA',
 'Saint Vincent and the Grenadines': 'VCT',
 'British Virgin Islands': 'VGB',
 'US Virgin Islands': 'VIR',
 'Viet Nam': 'VNM',
 'Vanuatu': 'VUT',
 'Samoa': 'WSM',
 'Yemen': 'YEM',
 'South Africa': 'ZAF',
 'Zambia': 'ZMB',
 'Zimbabwe': 'ZWE',
 'Suriname': 'SUR',
 'Slovakia': 'SVK',
 'Slovenia': 'SVN',
 'Sweden': 'SWE',
 'Swaziland': 'SWZ',
 'Seychelles': 'SYC',
 'Syrian Arab Republic': 'SYR',
 'Turks and Caicos Islands': 'TCA',
 'Chad': 'TCD',
 'Togo': 'TGO',
 'Thailand': 'THA',
 'Tajikistan': 'TJK',
 'Tokelau': 'TKL',
 'Timor-Leste': 'TLS',
 'Tonga': 'TON',
 'Trinidad and Tobago': 'TTO',
 'State of Palestine': 'PSE',
 'French Polynesia': 'PYF',
 'Qatar': 'QAT',
 'Reunion': 'REU',
 'Romania': 'ROU',
 'Russian Federation': 'RUS',
 'Rwanda': 'RWA',
 'Saudi Arabia': 'SAU',
 'Sudan': 'SDN',
 'Senegal': 'SEN',
 'Singapore': 'SGP',
 'Saint Helena': 'SHN',
 'Solomon Islands': 'SLB',
 'Sierra Leone': 'SLE',
 'El Salvador': 'SLV',
 'Somalia': 'SOM',
 'Serbia': 'SRB',
 'Benin': 'BEN',
 'Botswana': 'BWA',
 'Cyprus': 'CYP',
 'Federated States of Micronesia': 'FSM',
 'India': 'IND',
 'The FYR of Macedonia': 'MKD',
 'Nicaragua': 'NIC',
 'Paraguay': 'PRY',
 'São Tomé and Principe': 'STP',
 'Tunisia': 'TUN',
 'Niue': 'NIU',
 'Netherlands': 'NLD',
 'Norway': 'NOR',
 'Nepal': 'NPL',
 'Nauru': 'NRU',
 'New Zealand': 'NZL',
 'Oman': 'OMN',
 'Pakistan': 'PAK',
 'Panama': 'PAN',
 'Peru': 'PER',
 'Philippines': 'PHL',
 'Palau': 'PLW',
 'Papua New Guinea': 'PNG',
 'Poland': 'POL',
 'Puerto Rico': 'PRI',
 "Korea, Democratic People's Republic of": 'PRK',
 'Portugal': 'PRT',
 'Mali': 'MLI',
 'Malta': 'MLT',
 'Myanmar': 'MMR',
 'Montenegro': 'MNE',
 'Mongolia': 'MNG',
 'Northern Mariana Islands': 'MNP',
 'Mozambique': 'MOZ',
 'Mauritania': 'MRT',
 'Mauritius': 'MUS',
 'Malawi': 'MWI',
 'Malaysia': 'MYS',
 'Namibia': 'NAM',
 'New Caledonia': 'NCL',
 'Niger': 'NER',
 'Nigeria': 'NGA',
 'Lebanon': 'LBN',
 'Liberia': 'LBR',
 'Libya': 'LBY',
 'Saint Lucia': 'LCA',
 'Sri Lanka': 'LKA',
 'Lesotho': 'LSO',
 'Lithuania': 'LTU',
 'Luxembourg': 'LUX',
 'Latvia': 'LVA',
 'Macao, China': 'MAC',
 'Morocco': 'MAR',
 'Madagascar': 'MDG',
 'Maldives': 'MDV',
 'Mexico': 'MEX',
 'Marshall Islands': 'MHL',
 'Ireland': 'IRL',
 'Iraq': 'IRQ',
 'Iceland': 'ISL',
 'Israel': 'ISR',
 'Italy': 'ITA',
 'Jamaica': 'JAM',
 'Jordan': 'JOR',
 'Japan': 'JPN',
 'Kazakhstan': 'KAZ',
 'Kenya': 'KEN',
 'Kyrgyzstan': 'KGZ',
 'Cambodia': 'KHM',
 'Saint Kitts and Nevis': 'KNA',
 'Kuwait': 'KWT',
 'Gabon': 'GAB',
 'United Kingdom': 'GBR',
 'Georgia': 'GEO',
 'Ghana': 'GHA',
 'Guinea': 'GIN',
 'Gambia': 'GMB',
 'Guinea-Bissau': 'GNB',
 'Equatorial Guinea': 'GNQ',
 'Greece': 'GRC',
 'Grenada': 'GRD',
 'Guatemala': 'GTM',
 'Hong Kong, China': 'HKG',
 'Honduras': 'HND',
 'Croatia': 'HRV',
 'Haiti': 'HTI',
 'Hungary': 'HUN',
 'Indonesia': 'IDN',
 'Czech Republic': 'CZE',
 'Germany': 'DEU',
 'Djibouti': 'DJI',
 'Dominica': 'DMA',
 'Denmark': 'DNK',
 'Dominican Republic': 'DOM',
 'Algeria': 'DZA',
 'Ecuador': 'ECU',
 'Egypt': 'EGY',
 'Eritrea': 'ERI',
 'Spain': 'ESP',
 'Estonia': 'EST',
 'Ethiopia': 'ETH',
 'Finland': 'FIN',
 'Fiji': 'FJI',
 'France': 'FRA',
 'Central African Republic': 'CAF',
 'Canada': 'CAN',
 'Switzerland': 'CHE',
 'Chile': 'CHL',
 'China': 'CHN',
 "Côte d' Ivoire": 'CIV',
 'Cameroon': 'CMR',
 'Congo': 'COG',
 'Cook Islands': 'COK',
 'Colombia': 'COL',
 'Comoros': 'COM',
 'Cape Verde': 'CPV',
 'Costa Rica': 'CRI',
 'Cayman Islands': 'CYM',
 'Burkina Faso': 'BFA',
 'Bangladesh': 'BGD',
 'Bulgaria': 'BGR',
 'Bahrain': 'BHR',
 'Bahamas': 'BHS',
 'Bosnia and Herzegovina': 'BIH',
 'British Indian Ocean Territory': 'BIOT',
 'Belarus': 'BLR',
 'Belize': 'BLZ',
 'Bermuda': 'BMU',
 'Brazil': 'BRA',
 'Barbados': 'BRB',
 'Brunei Darussalam': 'BRN',
 'Bhutan': 'BTN',
 'Congo, Democratic Rep. of': 'COD',
 'Venezuela, Bolivarian Rep. of': 'VEN',
 'United Rep. of Tanzania': 'TZA',
 'Korea, Republic of': 'KOR',
 'Iran, Islamic Republic of': 'IRN',
 'Moldova, Republic of': 'MDA',
 'Bolivia, Plurinational State of': 'BOL',
 "Lao People's Dem. Rep.": 'LAO',
 'Monaco': 'MCO',
 'Guam': 'GUM',
 'Liechtenstein': 'LIE',
 'Faeroe Islands': 'FRO'}

In [17]:
df_dist = pd.read_csv(directory + 'distance_merged.csv')

In [18]:
df_dist

,home,ABW,AFG,AGO,AIA,ALB,AND,ARE,ARG,ARM,...,VCT,VEN,VNM,VUT,WLF,WSM,YEM,ZAF,ZMB,ZWE
0,ABW,0.000000,13252.562557,9500.724683,973.535120,9085.425408,7565.414510,12767.098434,5360.114081,11105.217199,...,953.217628,407.254233,17394.630809,13764.066135,12057.320301,11596.227190,12153.647425,10635.960050,11252.792271,11587.659716
1,AFG,13252.562557,0.000000,7592.695548,12295.402341,4344.887482,5809.607175,1685.264881,15269.257992,2264.595710,...,12582.312572,13213.101745,4615.406201,11930.663622,13090.899638,13527.156291,3279.105626,9242.212938,7017.607917,7060.695339
2,AGO,9500.724683,7592.695548,0.000000,8894.790019,5594.945971,5808.941318,5917.159476,7777.930733,6309.127205,...,8581.313382,9127.152398,10567.405666,16001.483832,17350.882991,17438.154618,4339.161563,2828.661088,1791.381489,2169.266415
3,AIA,973.535120,12295.402341,8894.790019,0.000000,8111.936087,6591.882815,11797.582285,5867.656461,10134.035979,...,593.198987,949.165376,16601.574937,14610.029750,12882.443919,12434.627974,11234.495290,10369.917631,10679.299892,11038.903154
4,ALB,9085.425408,4344.887482,5594.945971,8111.936087,0.000000,1520.615798,3718.578045,11591.279736,2082.227281,...,8313.202282,8974.865549,8960.200423,16037.392002,16534.505765,16759.477394,3714.765270,8333.606713,6341.330364,6650.773482
5,AND,7565.414510,5809.607175,5808.941318,6591.882815,1520.615798,0.000000,5232.160748,10491.126020,3568.907388,...,6803.953044,7460.739398,10413.743012,16990.042028,16757.258758,16761.782628,5054.902767,8637.352023,6973.879792,7335.131079
6,ARE,12767.098434,1685.264881,5917.159476,11797.582285,3718.578045,5232.160748,0.000000,13651.391519,1936.104653,...,11939.257340,12617.078071,5627.750623,13107.301242,14493.799334,14959.125424,1593.877336,7623.169563,5369.146014,5443.214239
7,ARG,5360.114081,15269.257992,7777.930733,5867.656461,11591.279736,10491.126020,13651.391519,0.000000,13383.969387,...,5295.519598,5071.593896,16967.749372,12403.241362,11587.166957,11185.131562,12106.109488,6883.744302,8755.752370,8856.878091
8,ARM,11105.217199,2264.595710,6309.127205,10134.035979,2082.227281,3568.907388,1936.104653,13383.969387,0.000000,...,10370.988207,11022.261981,6878.790834,14120.956028,15061.453994,15437.926147,2751.560858,8632.283231,6379.177432,6571.637399
9,ASM,11491.150358,13650.655759,17411.816974,12335.378909,16840.407230,16788.350373,15084.116479,11065.241649,15552.396121,...,12437.493582,11775.941086,9534.023290,2276.012770,601.884379,125.026769,16279.525648,14583.244328,16121.367948,15734.334966
10,ATA,12107.711689,13902.833028,10241.595959,12861.834749,15667.688460,16010.495235,13227.921629,7171.333658,15075.087563,...,12344.567175,11946.966616,10505.240993,6683.731894,7240.234984,7216.238377,12396.461473,7422.811088,9326.685737,9018.757015
11,ATF,14544.737136,9291.372945,6908.485567,14610.897806,11190.180018,12180.168914,8394.883490,9414.142447,10234.190650,...,14049.652884,14168.748467,7556.230772,9102.079630,10528.255387,10760.231176,7611.263165,4538.494686,5338.859094,4948.620726
12,ATG,1011.870432,12302.762054,8742.341581,177.079068,8087.834281,6569.729659,11758.372766,5736.722650,10123.069028,...,443.057800,913.093406,16668.329219,14719.987606,12996.917327,12545.073714,11155.428253,10194.861153,10524.498751,10881.784572
13,AUS,15237.370034,11414.556270,13535.270604,16207.614338,15708.278847,17216.216925,12044.309016,11823.315562,13647.347710,...,16022.792235,15362.192636,6832.342104,2470.529330,4005.971212,4339.856620,12504.719258,11033.666712,11878.774579,11480.204352
14,AUT,8712.378022,4570.444618,6326.358714,7744.458843,811.666727,1321.760520,4239.336000,11789.935163,2403.169134,...,8012.025586,8648.270940,9139.640022,15782.613395,15962.798124,16119.657940,4446.091223,9099.340590,7144.369883,7458.247674
15,AZE,11499.880410,1820.580112,6623.316513,10531.796560,2525.310546,3994.027570,1750.769894,13821.347187,457.854594,...,10786.546916,11430.964936,6435.762641,13663.963402,14632.437978,15020.251228,2827.539286,8839.144303,6567.866250,6732.718476
16,BDI,11113.900307,5911.626356,1883.884378,10389.493725,5044.912305,5805.015763,4229.473874,9594.500740,5065.636836,...,10166.435407,10768.693467,8699.863019,14955.523104,16656.499118,17011.977847,2639.992237,3567.026718,1335.233641,1608.516867
17,BEL,7837.934198,5420.226533,6668.150848,6876.138127,1591.660755,952.114913,5156.730840,11281.255225,3306.039656,...,7173.467571,7793.999385,9929.789939,16066.842279,15837.083961,15883.566544,5304.484535,9492.134928,7702.010864,8043.345788
18,BEN,7959.192111,7486.907983,2065.566326,7208.055385,4240.486496,4005.144385,5993.607017,7818.736440,5620.225590,...,7006.929124,7631.602167,11426.418037,18040.818070,19224.716758,18972.545757,4667.210977,4767.840076,3733.284567,4130.838562
19,BES,191.464477,13169.249339,9309.454528,873.847083,8970.918420,7452.469472,12639.108973,5279.881976,11002.659036,...,773.046663,238.201224,17402.969307,13936.279950,12233.987586,11771.221030,11994.673925,10456.942158,11061.346483,11396.422513
20,BFA,7417.965560,7481.800222,2857.818624,6611.342757,3823.804456,3353.558013,6114.723232,7935.640017,5448.346298,...,6466.245429,7116.285903,11690.102745,18786.265405,19444.253260,18963.558095,4946.887662,5542.197060,4497.777043,4896.298724
21,BGD,15468.737554,2381.770581,9120.833837,14551.618032,6726.596058,8181.989339,3552.374718,16773.796408,4646.092326,...,14899.986872,15494.194842,2234.276015,9622.470518,10941.675990,11406.930812,4915.117132,9929.074020,8021.730210,7917.208048
22,BGR,9343.130030,4043.184372,5797.851835,8369.847068,327.776794,1784.395533,3498.989966,11917.925358,1787.939095,...,8588.276962,9244.688283,8657.817618,15710.099051,16248.559966,16495.743602,3627.729536,8499.255382,6453.167028,6747.793088
23,BHR,12298.151260,2005.881138,5598.942500,11330.750784,3280.002460,4784.199993,485.445152,13273.965341,1647.969284,...,11462.015978,12141.072149,6109.894429,13589.770395,14954.833543,15415.593214,1372.856215,7473.325983,5199.116103,5310.990355
24,BHS,1587.705810,12527.805801,10484.620841,1659.941873,8774.427200,7293.165617,12470.931550,6901.180157,10614.264989,...,2143.711011,1955.221038,16011.544924,13236.322548,11508.009999,11093.450607,12267.805177,12023.476771,12275.837353,12646.714049
25,BIH,8923.997713,4437.816405,5857.136909,7950.963049,304.689103,1374.463565,3921.079387,11646.768069,2194.974779,...,8176.339215,8829.955958,9047.734230,15978.290732,16345.949052,16541.470192,3995.443249,8612.442801,6638.497300,6950.687040
26,BLM,969.018436,12307.990047,8865.473053,41.789306,8116.963631,6597.244587,11799.255020,5830.439863,10142.280875,...,552.430650,927.740336,16627.331532,14626.944821,12900.484610,12451.529440,11226.163414,10331.619880,10649.235862,11008.054397
27,BLR,9379.853629,3878.436142,7082.074662,8431.407935,1512.174061,2293.004971,3921.752775,12783.009247,1985.666413,...,8758.101772,9362.802227,8326.106096,14776.177725,15042.560470,15249.251927,4515.802456,9770.099490,7679.083693,7953.713118
28,BLZ,2033.162114,13771.673443,11514.472340,2663.657070,10169.092621,8693.844647,13850.642244,6574.601684,11968.106656,...,2933.288287,2427.946329,16479.281602,11977.472719,10243.810995,9808.487279,13662.757059,12590.155600,13278.983935,13618.620725
29,BMU,2263.897873,11172.423483,9416.735393,1577.559760,7300.963288,5815.468398,11006.473648,7445.100202,9174.840565,...,2157.821539,2434.866247,15135.286558,14498.050453,12803.297381,12418.892758,10800.701936,11374.361889,11188.613502,11578.610095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,TCA,995.711980,12528.619300,9796.003996,919.617255,8543.933390,7032.556794,12262.458799,6351.145127,10483.156244,...,1397.528601,1296.908165,16424.744670,13816.814427,12082.819970,11650.152824,11880.439422,11274.634305,11584.143350,11947.844300
208,TCD,9199.881826,5984.093870,2324.736980,8362.203710,3271.383999,3614.489107,4468.764595,9297.581330,4244.819201,...,8251.534724,8909.194214,9938.204068,17095.086010,18810.151867,19270.431799,3172.105322,5106.891663,3374.722117,3749.246590
209,TGO,7833.083754,7610.970530,2126.450655,7087.987451,4313.787722,4029.483074,6124.236563,7700.661904,5728.131788,...,6881.229215,7503.560816,11562.156674,18121.255686,19166.922924,18870.821603,4802.481538,4790.763082,3820.019926,4216.600461
210,THA,16916.697681,3900.232571,9956.128963,16040.517859,8241.109128,9708.300563,4887.458351,16877.343148,6158.887741,...,16419.592414,16989.260098,741.239476,8220.636609,9660.442890,10137.821623,6052.300691,10142.252231,8577.793467,8386.241292
211,TJK,12919.143148,446.112638,7776.931385,11972.434720,4140.800614,5564.585481,1942.825283,15338.843058,2092.802537,...,12286.813545,12901.794999,4850.667461,12035.341515,13094.974033,13513.452011,3519.632162,9559.097938,7311.439465,7376.855988
212,TKL,11573.149008,13136.039887,17982.300295,12359.396426,16175.869989,16196.039195,14644.565397,11620.630949,14945.638855,...,12526.310217,11887.462280,9206.767352,2310.389194,659.327643,590.985158,15970.088862,15165.523923,16513.615333,16116.779484
213,TKM,12262.870180,1040.693579,6984.890009,11297.785657,3304.251469,4774.897138,1437.038229,14440.368455,1224.297535,...,11562.860284,12203.393487,5655.961699,12934.993880,14004.029377,14418.278981,2865.813987,8966.724985,6691.451100,6803.940450
214,TLS,18276.216989,7609.542352,12290.075586,18598.361557,11950.725486,13413.148933,8473.940245,15207.928915,9868.597780,...,19124.835211,18652.095455,2999.489918,4733.245712,6376.376030,6850.965901,9351.543117,11036.818815,10539.366211,10202.380127
215,TON,12071.645997,13618.715542,16564.533013,12964.380919,17362.959257,17615.063570,14870.034071,10930.379407,15719.238377,...,12998.341918,12321.123740,9242.950619,1769.851808,875.761701,886.965764,15827.184361,13742.620286,15224.831146,14838.462882
216,TTO,948.450037,12805.023709,8552.742628,854.022330,8514.195116,7011.683947,12111.058809,5020.172647,10580.582828,...,279.212203,589.100577,17297.794588,14614.662891,12934.228851,12465.509094,11354.012644,9753.561335,10304.703001,10641.022697
217,TUN,8316.447544,5261.458778,5063.794624,7348.572082,972.935634,973.356407,4451.222690,10623.070657,3000.551991,...,7496.278830,8170.359545,9866.063496,17006.933984,17322.302078,17450.310595,4117.027382,7878.614068,6085.659908,6434.347258
218,TUR,9840.880391,3583.396747,5749.828078,8867.405326,766.670762,2277.027920,2996.903494,12229.124096,1318.896332,...,9077.325314,9736.963317,8197.573959,15369.597378,16088.578316,16390.128784,3202.890377,8367.469986,6246.475038,6517.654792
219,TUV,12470.394460,12379.714219,17545.108901,13235.513763,15845.803428,16231.721117,13819.994824,12315.209591,14331.373921,...,13423.462551,12791.020292,8316.491391,1556.974983,730.139901,1148.362947,15083.053601,14890.147258,15863.952701,15466.521092
220,TWN,15665.182940,5113.822929,12267.073017,15192.125362,9120.351631,10332.658823,6602.255019,18943.564649,7198.248041,...,15766.888808,15969.731820,2225.604778,6937.116725,7977.077797,8415.937391,8052.304589,12673.612396,11046.002790,10882.603798
221,TZA,12265.940109,5553.152138,2879.378681,11551.268193,5689.225329,6667.486186,3951.397963,10280.800555,5231.981850,...,11321.118298,11914.807758,7713.905881,13807.292398,15523.378990,15906.113704,2512.512627,3689.076666,1528.969993,1509.235827
222,UGA,11375.302417,5368.098738,2372.282011,10602.622710,4720.551803,5609.978293,3686.086121,10121.173617,4577.431677,...,10422.638597,11047.330981,8267.728817,14819.771994,16550.812168,16957.383552,2097.621472,4069.027303,1801.998297,2013.861482
223,UKR,9673.668383,3580.196018,6778.712531,8715.208472,1308.556375,2376.924345,3511.569599,12808.076238,1578.211089,...,9014.590848,9635.664264,8104.406038,14806.940962,15229.420146,15473.332748,4083.502147,9422.491614,7298.698129,7563.513331
224,URY,5448.376594,15084.834389,7579.984205,5923.628699,11460.923888,10388.901534,13459.804038,202.985729,13227.343164,...,5345.690757,5148.694892,16826.571290,12528.105193,11748.336853,11351.477104,11910.478388,6686.714951,8552.821442,8654.626020
225,USA,3147.434733,10862.721256,10415.024552,2705.098052,7454.756434,6078.221995,11025.539495,8493.054404,9106.883070,...,3298.235094,3421.688701,14297.827527,13597.173065,11984.242742,11650.980564,11129.917048,12552.432577,12141.233605,12538.648513
226,UZB,12731.125385,747.728934,7960.691347,11794.532155,4079.426472,5463.667071,2191.867680,15427.246875,2083.472664,...,12129.806133,12731.190176,4972.017559,12040.340247,13027.443386,13432.657756,3748.008305,9815.036596,7557.788829,7634.700684
227,VCT,953.217628,12582.312572,8581.313382,593.198987,8313.202282,6803.953044,11939.257340,5295.519598,10370.988207,...,0.000000,683.280496,17038.250704,14707.106780,13006.963969,12543.778606,11237.074941,9888.665734,10347.973284,10693.261538
228,VEN,407.254233,13213.101745,9127.152398,949.165376,8974.865549,7460.739398,12617.078071,5071.593896,11022.261981,...,683.280496,0.000000,17542.890119,14039.667201,12351.130516,11884.100206,11916.267314,10228.705833,10869.859467,11200.079920
229,VNM,17394.630809,4615.406201,10567.405666,16601.574937,8960.200423,10413.743012,5627.750623,16967.749372,6878.790834,...,17038.250704,17542.890119,0.000000,7479.875987,8932.639239,9411.225740,6766.677531,10513.351181,9107.981630,8887.315464
230,VUT,13764.066135,11930.663622,16001.483832,14610.029750,16037.392002,16990.042028,13107.301242,12403.241362,14120.956028,...,14707.106780,14039.667201,7479.875987,0.000000,1733.996726,2175.423350,14084.641231,13462.765523,14307.791992,13910.075118
231,WLF,12057.320301,13090.899638,17350.882991,12882.443919,16534.505765,16757.258758,14493.799334,11587.166957,15061.453994,...,13006.963969,12351.130516,8932.639239,1733.996726,0.000000,480.976897,15678.673832,14557.660627,15855.312949,15458.900029
232,WSM,11596.227190,13527.156291,17438.154618,12434.627974,16759.477394,16761.782628,14959.125424,11185.131562,15437.926147,...,12543.778606,11884.100206,9411.225740,2175.423350,480.976897,0.000000,16159.645779,14610.463481,16098.582561,15708.704149
233,YEM,12153.647425,3279.105626,4339.161563,11234.495290,3714.765270,5054.902767,1593.877336,12106.109488,2751.560858,...,11237.074941,11916.267314,6766.677531,14084.641231,15678.673832,16159.645779,0.000000,6100.922040,3826.262134,3943.725870
234,ZAF,10635.960050,9242.212938,2828.661088,10369.917631,8333.606713,8637.352023,7623.169563,6883.744302,8632.283231,...,9888.665734,10228.705833,10513.351181,13462.765523,14557.660627,14610.463481,6100.922040,0.000000,2278.299176,2182.649348
235,ZMB,11252.792271,7017.607917,1791.381489,10679.299892,6341.330364,6973.879792,5369.146014,8755.752370,6379.177432,...,10347.973284,10869.859467,9107.981630,14307.791992,15855.312949,16098.582561,3826.262134,2278.299176,0.000000,398.601357
236,ZWE,11587.659716,7060.695339,2169.266415,11038.903154,6650.773482,7335.131079,5443.214239,8856.878091,6571.637399,...,10693.261538,11200.079920,8887.315464,13910.075118,15458.900029,15708.704149,3943.725870,2182.649348,398.601357,0.000000

In [19]:
df_dist_long  =df_dist.melt(id_vars = 'home', var_name = 'host', value_name = 'distance')

In [20]:
df_dist_long

      home host      distance
0      ABW  ABW      0.000000
1      AFG  ABW  13252.562557
2      AGO  ABW   9500.724683
3      AIA  ABW    973.535120
4      ALB  ABW   9085.425408
5      AND  ABW   7565.414510
6      ARE  ABW  12767.098434
7      ARG  ABW   5360.114081
8      ARM  ABW  11105.217199
9      ASM  ABW  11491.150358
10     ATA  ABW  12107.711689
11     ATF  ABW  14544.737136
12     ATG  ABW   1011.870432
13     AUS  ABW  15237.370034
14     AUT  ABW   8712.378022
15     AZE  ABW  11499.880410
16     BDI  ABW  11113.900307
17     BEL  ABW   7837.934198
18     BEN  ABW   7959.192111
19     BES  ABW    191.464477
20     BFA  ABW   7417.965560
21     BGD  ABW  15468.737554
22     BGR  ABW   9343.130030
23     BHR  ABW  12298.151260
24     BHS  ABW   1587.705810
25     BIH  ABW   8923.997713
26     BLM  ABW    969.018436
27     BLR  ABW   9379.853629
28     BLZ  ABW   2033.162114
29     BMU  ABW   2263.897873
...    ...  ...           ...
56139  TCA  ZWE  11947.844300
56140  TCD  ZWE   3749.246590
56141  TGO  ZWE   4216.600461
56142  THA  ZWE   8386.241292
56143  TJK  ZWE   7376.855988
56144  TKL  ZWE  16116.779484
56145  TKM  ZWE   6803.940450
56146  TLS  ZWE  10202.380127
56147  TON  ZWE  14838.462882
56148  TTO  ZWE  10641.022697
56149  TUN  ZWE   6434.347258
56150  TUR  ZWE   6517.654792
56151  TUV  ZWE  15466.521092
56152  TWN  ZWE  10882.603798
56153  TZA  ZWE   1509.235827
56154  UGA  ZWE   2013.861482
56155  UKR  ZWE   7563.513331
56156  URY  ZWE   8654.626020
56157  USA  ZWE  12538.648513
56158  UZB  ZWE   7634.700684
56159  VCT  ZWE  10693.261538
56160  VEN  ZWE  11200.079920
56161  VNM  ZWE   8887.315464
56162  VUT  ZWE  13910.075118
56163  WLF  ZWE  15458.900029
56164  WSM  ZWE  15708.704149
56165  YEM  ZWE   3943.725870
56166  ZAF  ZWE   2182.649348
56167  ZMB  ZWE    398.601357
56168  ZWE  ZWE      0.000000

[56169 rows x 3 columns]

In [21]:
df_dist_long.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56169 entries, 0 to 56168
Data columns (total 3 columns):
home        56169 non-null object
host        56169 non-null object
distance    56001 non-null float64
dtypes: float64(1), object(2)
memory usage: 1.3+ MB

In [22]:
worthless = ['ATA', 'ATF', 'BES', 'CCK', 'IOT', 'KIR', 'SGS', 'SJM']

In [23]:
df_dist_long = df_dist_long[(~df_dist_long.home.isin(worthless)) & (~df_dist_long.host.isin(worthless))]

In [24]:
df_dist_long[df_dist_long.home.isin(worthless)].head()

Empty DataFrame
Columns: [home, host, distance]
Index: []

In [25]:
df_dist_long[df_dist_long.host.isin(worthless)].head()

Empty DataFrame
Columns: [home, host, distance]
Index: []

In [26]:
df_dist_long

      home host      distance
0      ABW  ABW      0.000000
1      AFG  ABW  13252.562557
2      AGO  ABW   9500.724683
3      AIA  ABW    973.535120
4      ALB  ABW   9085.425408
5      AND  ABW   7565.414510
6      ARE  ABW  12767.098434
7      ARG  ABW   5360.114081
8      ARM  ABW  11105.217199
9      ASM  ABW  11491.150358
12     ATG  ABW   1011.870432
13     AUS  ABW  15237.370034
14     AUT  ABW   8712.378022
15     AZE  ABW  11499.880410
16     BDI  ABW  11113.900307
17     BEL  ABW   7837.934198
18     BEN  ABW   7959.192111
20     BFA  ABW   7417.965560
21     BGD  ABW  15468.737554
22     BGR  ABW   9343.130030
23     BHR  ABW  12298.151260
24     BHS  ABW   1587.705810
25     BIH  ABW   8923.997713
26     BLM  ABW    969.018436
27     BLR  ABW   9379.853629
28     BLZ  ABW   2033.162114
29     BMU  ABW   2263.897873
30     BOL  ABW   3435.713843
31     BRA  ABW   4732.219324
32     BRB  ABW   1127.108081
...    ...  ...           ...
56139  TCA  ZWE  11947.844300
56140  TCD  ZWE   3749.246590
56141  TGO  ZWE   4216.600461
56142  THA  ZWE   8386.241292
56143  TJK  ZWE   7376.855988
56144  TKL  ZWE  16116.779484
56145  TKM  ZWE   6803.940450
56146  TLS  ZWE  10202.380127
56147  TON  ZWE  14838.462882
56148  TTO  ZWE  10641.022697
56149  TUN  ZWE   6434.347258
56150  TUR  ZWE   6517.654792
56151  TUV  ZWE  15466.521092
56152  TWN  ZWE  10882.603798
56153  TZA  ZWE   1509.235827
56154  UGA  ZWE   2013.861482
56155  UKR  ZWE   7563.513331
56156  URY  ZWE   8654.626020
56157  USA  ZWE  12538.648513
56158  UZB  ZWE   7634.700684
56159  VCT  ZWE  10693.261538
56160  VEN  ZWE  11200.079920
56161  VNM  ZWE   8887.315464
56162  VUT  ZWE  13910.075118
56163  WLF  ZWE  15458.900029
56164  WSM  ZWE  15708.704149
56165  YEM  ZWE   3943.725870
56166  ZAF  ZWE   2182.649348
56167  ZMB  ZWE    398.601357
56168  ZWE  ZWE      0.000000

[52441 rows x 3 columns]

In [27]:
df_dist_long = df_dist_long[df_dist_long.home != df_dist_long.host]
df_dist_long.groupby('home').distance.min()

home
ABW     123.484943
AFG     446.112638
AGO     553.911568
AIA      41.789306
ALB     131.996577
AND     494.237552
ARE     379.854693
ARG     202.985729
ARM     170.170660
ASM     125.026769
ATG      52.976487
AUS    1677.406232
AUT      55.045137
AZE     449.690512
BDI     176.196510
BEL     173.603658
BEN     108.573234
BFA     415.265838
BGD     423.106972
BGR     174.314805
BHR     140.119134
BHS     554.980994
BIH     172.906628
BLM      41.789306
BLR     172.869334
BLZ     392.804375
BMU    1244.478352
BOL    1010.701601
BRA    1131.967396
BRB     174.482042
          ...
TCA     346.736567
TCD     939.788096
TGO     135.823160
THA     504.076124
TJK     305.294216
TKL     590.985158
TKM     669.437899
TLS    2016.412465
TON     598.512908
TTO     158.034626
TUN     398.819718
TUR     445.399169
TUV     730.139901
TWN     684.305789
TZA     670.409224
UGA     376.392167
UKR     402.639490
URY     202.985729
USA     556.235394
UZB     305.294216
VCT      95.574491
VEN     287.103258
VNM     204.247668
VUT     539.380391
WLF     480.976897
WSM     125.026769
YEM     432.179844
ZAF     999.428492
ZMB     398.601357
ZWE     398.601357
Name: distance, Length: 229, dtype: float64

In [28]:
def neighbor_dist(x, rank_number):
    sort_x = np.sort(x)
    return sort_x[rank_number]

In [29]:
closest_neighbor1 = df_dist_long.groupby(['home']).distance.agg(neighbor_dist,0).to_frame().reset_index()
closest_neighbor2 = df_dist_long.groupby(['home']).distance.agg(neighbor_dist,1).to_frame().reset_index()
closest_neighbor3 = df_dist_long.groupby(['home']).distance.agg(neighbor_dist,2).to_frame().reset_index()
closest_neighbor4 = df_dist_long.groupby(['home']).distance.agg(neighbor_dist,3).to_frame().reset_index()
closest_neighbor5 = df_dist_long.groupby(['home']).distance.agg(neighbor_dist,4).to_frame().reset_index()

In [30]:
closest_neighbor1.head()

  home    distance
0  ABW  123.484943
1  AFG  446.112638
2  AGO  553.911568
3  AIA   41.789306
4  ALB  131.996577

In [31]:
closest_neighbor2.head()

  home     distance
0  ABW   407.254233
1  AFG   747.728934
2  AGO  1103.360441
3  AIA   107.959457
4  ALB   153.481284

In [32]:
closest_neighbor3.head()

  home     distance
0  ABW   660.253295
1  AFG  1038.479465
2  AGO  1244.310201
3  AIA   177.079068
4  ALB   304.689103

In [33]:
closest_neighbor4.head()

  home     distance
0  ABW   710.798424
1  AFG  1040.693579
2  AGO  1244.884360
3  AIA   181.591019
4  ALB   327.776794

In [34]:
closest_neighbor5.head()

  home     distance
0  ABW   777.120375
1  AFG  1085.563143
2  AGO  1477.729250
3  AIA   271.426075
4  ALB   389.786211

In [35]:
df_dist_long.head()

  home host      distance
1  AFG  ABW  13252.562557
2  AGO  ABW   9500.724683
3  AIA  ABW    973.535120
4  ALB  ABW   9085.425408
5  AND  ABW   7565.414510

In [36]:
df_merged1 = pd.merge(closest_neighbor1, df_dist_long, how = 'left', on = ['home', 'distance'])
df_merged2 = pd.merge(closest_neighbor2, df_dist_long, how = 'left', on = ['home', 'distance'])
df_merged3 = pd.merge(closest_neighbor3, df_dist_long, how = 'left', on = ['home', 'distance'])
df_merged4 = pd.merge(closest_neighbor4, df_dist_long, how = 'left', on = ['home', 'distance'])
df_merged5 = pd.merge(closest_neighbor5, df_dist_long, how = 'left', on = ['home', 'distance'])

In [37]:
df_closest1 = df_merged1[['home','host','distance']]
df_closest2 = df_merged2[['home','host','distance']]
df_closest3 = df_merged3[['home','host','distance']]
df_closest4 = df_merged4[['home','host','distance']]
df_closest5 = df_merged5[['home','host','distance']]

In [38]:
df_closest1['rank'] = int(1)
df_closest2['rank'] = int(2)
df_closest3['rank'] = int(3)
df_closest4['rank'] = int(4)
df_closest5['rank'] = int(5)

/home/sony/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/sony/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/sony/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/sony/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/home/sony/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [39]:
df_closest1.head()

  home host    distance  rank
0  ABW  CUW  123.484943     1
1  AFG  TJK  446.112638     1
2  AGO  COG  553.911568     1
3  AIA  BLM   41.789306     1
4  ALB  MNE  131.996577     1

In [40]:
df_closest2.head()

  home host     distance  rank
0  ABW  VEN   407.254233     2
1  AFG  UZB   747.728934     2
2  AGO  GAB  1103.360441     2
3  AIA  KNA   107.959457     2
4  ALB  MKD   153.481284     2

In [41]:
df_closest3.head()

  home host     distance  rank
0  ABW  DOM   660.253295     3
1  AFG  KGZ  1038.479465     3
2  AGO  GNQ  1244.310201     3
3  AIA  ATG   177.079068     3
4  ALB  BIH   304.689103     3

In [42]:
df_closest4.head()

  home host     distance  rank
0  ABW  HTI   710.798424     4
1  AFG  TKM  1040.693579     4
2  AGO  STP  1244.884360     4
3  AIA  MSR   181.591019     4
4  ALB  BGR   327.776794     4

In [43]:
df_closest5.head()

  home host     distance  rank
0  ABW  PRI   777.120375     5
1  AFG  PAK  1085.563143     5
2  AGO  CMR  1477.729250     5
3  AIA  GLP   271.426075     5
4  ALB  SRB   389.786211     5

In [44]:
df_closest1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 229 entries, 0 to 228
Data columns (total 4 columns):
home        229 non-null object
host        229 non-null object
distance    229 non-null float64
rank        229 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 8.9+ KB

In [45]:
df_closest2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 229 entries, 0 to 228
Data columns (total 4 columns):
home        229 non-null object
host        229 non-null object
distance    229 non-null float64
rank        229 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 8.9+ KB

In [46]:
df_closest3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 229 entries, 0 to 228
Data columns (total 4 columns):
home        229 non-null object
host        229 non-null object
distance    229 non-null float64
rank        229 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 8.9+ KB

In [47]:
df_closest4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 229 entries, 0 to 228
Data columns (total 4 columns):
home        229 non-null object
host        229 non-null object
distance    229 non-null float64
rank        229 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 8.9+ KB

In [48]:
df_closest5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 229 entries, 0 to 228
Data columns (total 4 columns):
home        229 non-null object
host        229 non-null object
distance    229 non-null float64
rank        229 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 8.9+ KB

In [49]:
neighbors_df = pd.concat([df_closest1,df_closest2,df_closest3, df_closest4, df_closest5])

In [50]:
neighbors_df.head()

  home host    distance  rank
0  ABW  CUW  123.484943     1
1  AFG  TJK  446.112638     1
2  AGO  COG  553.911568     1
3  AIA  BLM   41.789306     1
4  ALB  MNE  131.996577     1

In [51]:
north_codes = north_south_df[north_south_df['Global South'] == 'Global North'].code.tolist()
south_codes = north_south_df[north_south_df['Global South'] == 'Global South'].code.tolist()

In [52]:
def isNorth(x):
    if x in north_codes:
        return 1
    elif x in south_codes:
        return 0
    else:
        return np.nan

In [53]:
neighbors_df['home_north'] = neighbors_df.home.apply(isNorth)

In [54]:
neighbors_df.head()

  home host    distance  rank  home_north
0  ABW  CUW  123.484943     1         0.0
1  AFG  TJK  446.112638     1         0.0
2  AGO  COG  553.911568     1         0.0
3  AIA  BLM   41.789306     1         0.0
4  ALB  MNE  131.996577     1         1.0

In [55]:
neighbors_df[neighbors_df.home_north.isna()]

   home host    distance  rank  home_north
47  CUW  ABW  123.484943     1         NaN
47  CUW  VEN  287.103258     2         NaN
47  CUW  DOM  716.268205     3         NaN
47  CUW  PRI  766.206683     4         NaN
47  CUW  GRD  782.231068     5         NaN

In [56]:
neighbors_df[neighbors_df.home_north.isna()].home.unique()

array(['CUW'], dtype=object)

In [57]:
neighbors_df.home_north.fillna(0,inplace = True)

In [58]:
neighbors_df.home_north = neighbors_df.home_north.astype('int64')

In [59]:
neighbors_df.head()

  home host    distance  rank  home_north
0  ABW  CUW  123.484943     1           0
1  AFG  TJK  446.112638     1           0
2  AGO  COG  553.911568     1           0
3  AIA  BLM   41.789306     1           0
4  ALB  MNE  131.996577     1           1

In [60]:
neighbors_df['host_north'] = neighbors_df.host.apply(isNorth)

In [61]:
neighbors_df.head()

  home host    distance  rank  home_north  host_north
0  ABW  CUW  123.484943     1           0         NaN
1  AFG  TJK  446.112638     1           0         0.0
2  AGO  COG  553.911568     1           0         0.0
3  AIA  BLM   41.789306     1           0         0.0
4  ALB  MNE  131.996577     1           1         1.0

In [62]:
neighbors_df.host_north.fillna(0,inplace = True)

In [63]:
neighbors_df.host_north = neighbors_df.host_north.astype('int64')

In [64]:
neighbors_df.head()

  home host    distance  rank  home_north  host_north
0  ABW  CUW  123.484943     1           0           0
1  AFG  TJK  446.112638     1           0           0
2  AGO  COG  553.911568     1           0           0
3  AIA  BLM   41.789306     1           0           0
4  ALB  MNE  131.996577     1           1           1

In [65]:
homecode_region = north_south_df[['code','Region']]
hostcode_region = homecode_region.copy()

In [66]:
homecode_region.columns = ['home','region']
hostcode_region.columns = ['host','region']

In [67]:
homecode_region.head()

  home               region
0  AND               Europe
1  ARE          Arab States
2  AFG                 Asia
3  ATG  South/Latin America
4  AIA  South/Latin America

In [68]:
hostcode_region.head()

  host               region
0  AND               Europe
1  ARE          Arab States
2  AFG                 Asia
3  ATG  South/Latin America
4  AIA  South/Latin America

In [69]:
neighbors_df.head()

  home host    distance  rank  home_north  host_north
0  ABW  CUW  123.484943     1           0           0
1  AFG  TJK  446.112638     1           0           0
2  AGO  COG  553.911568     1           0           0
3  AIA  BLM   41.789306     1           0           0
4  ALB  MNE  131.996577     1           1           1

In [70]:
neighbors_df = pd.merge(neighbors_df, homecode_region,how = 'left', on=['home'])

In [71]:
neighbors_df.rename(columns = {'region':'home_region'},inplace = True)

In [72]:
neighbors_df = pd.merge(neighbors_df, hostcode_region,how = 'left', on=['host'])

In [73]:
neighbors_df.rename(columns = {'region':'host_region'},inplace = True)

In [74]:
neighbors_df[neighbors_df.host_region == 'Unknown']

Empty DataFrame
Columns: [home, host, distance, rank, home_north, host_north, home_region, host_region]
Index: []

In [75]:
neighbors_df.loc[neighbors_df.host == 'CUW','host_region'] = 'South/Latin America'
neighbors_df.loc[neighbors_df.home == 'CUW','home_region'] = 'South/Latin America'
neighbors_df.loc[neighbors_df.host == 'PSE','host_region'] = 'Arab States'
neighbors_df.loc[neighbors_df.home == 'PSE','home_region'] = 'Arab States'

In [76]:
neighbors_df[neighbors_df.home_region.isna()]

Empty DataFrame
Columns: [home, host, distance, rank, home_north, host_north, home_region, host_region]
Index: []

In [77]:
neighbors_df[neighbors_df.host_region.isna()]

Empty DataFrame
Columns: [home, host, distance, rank, home_north, host_north, home_region, host_region]
Index: []

In [78]:
neighbors_df.head()

,home,host,distance,rank,home_north,host_north,home_region,host_region
0,ABW,CUW,123.484943,1,0,0,South/Latin America,South/Latin America
1,AFG,TJK,446.112638,1,0,0,Asia,Asia
2,AGO,COG,553.911568,1,0,0,Africa,Africa
3,AIA,BLM,41.789306,1,0,0,South/Latin America,South/Latin America
4,ALB,MNE,131.996577,1,1,1,Europe,Europe

In [79]:
import math
def na_matching(regions):
    if isinstance(regions[0], str):
        return regions[0]
    elif math.isnan(regions[0]):
        return regions[1]
    else:
        raise TypeError

In [80]:
#neighbors_df['home_region_test'] = neighbors_df[['home_region','host_region']].apply(na_matching,axis =1)

In [81]:
neighbors_df[neighbors_df.home_region.isna()].home.unique()

array([], dtype=object)

In [82]:
neighbors_df[neighbors_df.home == 'THA']

,home,host,distance,rank,home_north,host_north,home_region,host_region
202,THA,LAO,504.076124,1,0,0,Asia,Asia
431,THA,KHM,537.326441,2,0,0,Asia,Asia
660,THA,MMR,575.987291,3,0,0,Asia,Asia
889,THA,VNM,741.239476,4,0,0,Asia,Asia
1118,THA,MYS,864.140953,5,0,0,Asia,Asia

In [83]:
neighbors_df[neighbors_df.home == 'VNM']

,home,host,distance,rank,home_north,host_north,home_region,host_region
221,VNM,KHM,204.247668,1,0,0,Asia,Asia
450,VNM,LAO,480.480834,2,0,0,Asia,Asia
679,VNM,MYS,708.987844,3,0,0,Asia,Asia
908,VNM,THA,741.239476,4,0,0,Asia,Asia
1137,VNM,SGP,1098.168913,5,0,1,Asia,Asia

In [84]:
neighbors_df[neighbors_df.home == 'MYS']

,home,host,distance,rank,home_north,host_north,home_region,host_region
145,MYS,SGP,564.711394,1,0,1,Asia,Asia
374,MYS,KHM,668.762656,2,0,0,Asia,Asia
603,MYS,VNM,708.987844,3,0,0,Asia,Asia
832,MYS,THA,864.140953,4,0,0,Asia,Asia
1061,MYS,MMR,1353.775447,5,0,0,Asia,Asia

In [85]:
neighbors_df[neighbors_df.home == 'ITA']

,home,host,distance,rank,home_north,host_north,home_region,host_region
101,ITA,SMR,230.753961,1,1,1,Europe,Europe
330,ITA,MCO,464.072631,2,1,1,Europe,Europe
559,ITA,SVN,488.996668,3,1,1,Europe,Europe
788,ITA,HRV,517.074310,4,1,1,Europe,Europe
1017,ITA,BIH,524.592565,5,1,1,Europe,Europe

In [86]:
neighbors_df[neighbors_df.home_region != neighbors_df.host_region]

,home,host,distance,rank,home_north,host_north,home_region,host_region
13,AZE,GEO,449.690512,1,0,0,Asia,Europe
43,COM,MYT,245.752784,1,0,0,Arab States,Africa
50,CYP,LBN,241.342069,1,1,0,Europe,Arab States
59,EGY,ISR,423.698644,1,0,1,Arab States,Europe
60,ERI,YEM,566.375969,1,0,0,Africa,Arab States
61,ESH,MAR,892.030469,1,0,0,Africa,Arab States
64,ETH,DJI,558.990710,1,0,0,Africa,Arab States
75,GIB,MAR,350.814060,1,1,0,Europe,Arab States
100,ISR,PSE,2.298852,1,1,0,Europe,Arab States
116,LBY,MLT,355.094912,1,0,1,Arab States,Europe
125,MAR,GIB,350.814060,1,0,1,Arab States,Europe
134,MLT,LBY,355.094912,1,1,0,Europe,Arab States
140,MRT,SEN,406.708959,1,0,0,Arab States,Africa
143,MUS,REU,228.049548,1,0,0,Africa,Asia
146,MYT,COM,245.752784,1,0,0,Africa,Arab States
160,PAK,OMN,873.760666,1,0,0,Asia,Arab States
171,PSE,ISR,2.298852,1,0,1,Arab States,Europe
174,REU,MUS,228.049548,1,0,0,Asia,Africa
179,SDN,ERI,687.199296,1,0,0,Arab States,Africa
187,SOM,KEN,1017.620957,1,0,0,Arab States,Africa
197,SYC,SOM,1343.483626,1,0,0,Africa,Arab States
198,SYR,LBN,298.202762,1,0,0,Asia,Arab States
206,TLS,PLW,2016.412465,1,0,0,Asia,Oceania
209,TUN,MLT,398.819718,1,0,1,Arab States,Europe
237,ARM,AZE,457.854594,2,0,0,Europe,Asia
242,AZE,ARM,457.854594,2,0,0,Asia,Europe
255,BMU,TCA,1368.960103,2,1,0,North America,South/Latin America
272,COM,TZA,694.849811,2,0,0,Arab States,Africa
279,CYP,SYR,362.127383,2,1,0,Europe,Asia
282,DJI,ETH,558.990710,2,0,0,Arab States,Africa
...,...,...,...,...,...,...,...,...
966,CYP,JOR,429.138767,5,1,0,Europe,Arab States
973,DZA,MCO,859.565121,5,0,1,Arab States,Europe
975,EGY,CYP,599.839724,5,0,1,Arab States,Europe
976,ERI,SAU,1316.675598,5,0,0,Africa,Arab States
978,ESP,MAR,833.590065,5,1,0,Europe,Arab States
980,ETH,SDN,988.829992,5,0,0,Africa,Arab States
988,GEO,IRQ,927.925949,5,0,0,Europe,Arab States
995,GNB,MRT,689.703200,5,0,0,Africa,Arab States
1013,IRN,KWT,798.057602,5,0,0,Asia,Arab States
1016,ISR,EGY,423.698644,5,1,0,Europe,Arab States
1020,JOR,SYR,484.162672,5,0,0,Arab States,Asia
1021,JPN,GUM,2509.694695,5,1,0,Asia,Oceania
1028,KWT,IRN,798.057602,5,0,0,Arab States,Asia
1030,LBN,SYR,298.202762,5,0,0,Arab States,Asia
1032,LBY,ALB,1107.049007,5,0,1,Arab States,Europe
1045,MDV,OMN,2682.401352,5,0,0,Asia,Arab States
1054,MNP,PHL,2664.841445,5,0,0,Oceania,Asia
1056,MRT,GIN,977.871404,5,0,0,Arab States,Africa
1059,MUS,COM,1787.776186,5,0,0,Africa,Arab States
1062,MYT,REU,1409.829827,5,0,0,Africa,Asia
1080,PHL,PLW,1678.211596,5,0,0,Asia,Oceania
1081,PLW,TLS,2016.412465,5,0,0,Oceania,Asia
1085,PRT,DZA,1094.259855,5,1,0,Europe,Arab States
1090,REU,SYC,1799.550651,5,0,0,Asia,Africa
1103,SOM,SYC,1343.483626,5,0,0,Arab States,Africa
1104,SPM,ISL,2842.409926,5,1,1,North America,Europe
1113,SYC,REU,1799.550651,5,0,0,Africa,Asia
1114,SYR,ISR,523.406913,5,0,1,Asia,Europe
1125,TUN,MCO,802.450166,5,0,1,Arab States,Europe
1133,USA,CUB,2101.769555,5,1,0,North America,South/Latin America

In [87]:
neighbors_df.to_csv(directory +'neighbors.csv', index = False)

In [88]:
df_container = {}
for yr in range(1993,2015):
    df = neighbors_df.copy()
    df['year'] = yr
    df_container['df_' + str(yr)] = df

In [89]:
df_base = pd.DataFrame(columns = neighbors_df.columns)
df_base['year'] = None
for df in df_container.values():
    df_base = pd.concat([df_base, df],ignore_index = True)
df_base

,home,host,distance,rank,home_north,host_north,home_region,host_region,year
0,ABW,CUW,123.484943,1,0,0,South/Latin America,South/Latin America,1993
1,AFG,TJK,446.112638,1,0,0,Asia,Asia,1993
2,AGO,COG,553.911568,1,0,0,Africa,Africa,1993
3,AIA,BLM,41.789306,1,0,0,South/Latin America,South/Latin America,1993
4,ALB,MNE,131.996577,1,1,1,Europe,Europe,1993
5,AND,ESP,494.237552,1,1,1,Europe,Europe,1993
6,ARE,OMN,379.854693,1,0,0,Arab States,Arab States,1993
7,ARG,URY,202.985729,1,0,0,South/Latin America,South/Latin America,1993
8,ARM,GEO,170.170660,1,0,0,Europe,Europe,1993
9,ASM,WSM,125.026769,1,0,0,Oceania,Oceania,1993
10,ATG,MSR,52.976487,1,0,0,South/Latin America,South/Latin America,1993
11,AUS,NFK,1677.406232,1,1,0,Oceania,Oceania,1993
12,AUT,SVK,55.045137,1,1,1,Europe,Europe,1993
13,AZE,GEO,449.690512,1,0,0,Asia,Europe,1993
14,BDI,RWA,176.196510,1,0,0,Africa,Africa,1993
15,BEL,NLD,173.603658,1,1,1,Europe,Europe,1993
16,BEN,NGA,108.573234,1,0,0,Africa,Africa,1993
17,BFA,NER,415.265838,1,0,0,Africa,Africa,1993
18,BGD,BTN,423.106972,1,0,0,Asia,Asia,1993
19,BGR,MKD,174.314805,1,1,1,Europe,Europe,1993
20,BHR,QAT,140.119134,1,0,0,Arab States,Arab States,1993
21,BHS,CUB,554.980994,1,0,0,South/Latin America,South/Latin America,1993
22,BIH,MNE,172.906628,1,1,1,Europe,Europe,1993
23,BLM,AIA,41.789306,1,0,0,South/Latin America,South/Latin America,1993
24,BLR,LTU,172.869334,1,0,1,Europe,Europe,1993
25,BLZ,HND,392.804375,1,0,0,South/Latin America,South/Latin America,1993
26,BMU,USA,1244.478352,1,1,1,North America,North America,1993
27,BOL,PRY,1010.701601,1,0,0,South/Latin America,South/Latin America,1993
28,BRA,PRY,1131.967396,1,0,0,South/Latin America,South/Latin America,1993
29,BRB,VCT,174.482042,1,0,0,South/Latin America,South/Latin America,1993
...,...,...,...,...,...,...,...,...,...
25160,TCA,BHS,749.041629,5,0,0,South/Latin America,South/Latin America,2014
25161,TCD,NGA,1423.892671,5,0,0,Africa,Africa,2014
25162,TGO,BFA,751.988402,5,0,0,Africa,Africa,2014
25163,THA,MYS,864.140953,5,0,0,Asia,Asia,2014
25164,TJK,TKM,911.892406,5,0,0,Asia,Asia,2014
25165,TKL,NIU,1196.946304,5,0,0,Oceania,Oceania,2014
25166,TKM,AFG,1040.693579,5,0,0,Asia,Asia,2014
25167,TLS,PHL,2611.300044,5,0,0,Asia,Asia,2014
25168,TON,ASM,896.722605,5,0,0,Oceania,Oceania,2014
25169,TTO,MTQ,440.490231,5,0,0,South/Latin America,South/Latin America,2014
25170,TUN,MCO,802.450166,5,0,1,Arab States,Europe,2014
25171,TUR,MDA,665.795718,5,1,1,Europe,Europe,2014
25172,TUV,ASM,1272.663567,5,0,0,Oceania,Oceania,2014
25173,TWN,KOR,1480.973653,5,1,1,Asia,Asia,2014
25174,TZA,UGA,1083.978332,5,0,0,Africa,Africa,2014
25175,UGA,COD,823.056854,5,0,0,Africa,Africa,2014
25176,UKR,ROU,747.556169,5,0,1,Europe,Europe,2014
25177,URY,BOL,2019.333624,5,0,0,South/Latin America,South/Latin America,2014
25178,USA,CUB,2101.769555,5,1,0,North America,South/Latin America,2014
25179,UZB,TKM,999.593320,5,0,0,Asia,Asia,2014
25180,VCT,DMA,237.761242,5,0,0,South/Latin America,South/Latin America,2014
25181,VEN,VCT,683.280496,5,0,0,South/Latin America,South/Latin America,2014
25182,VNM,SGP,1098.168913,5,0,1,Asia,Asia,2014
25183,VUT,TUV,1556.974983,5,0,0,Oceania,Oceania,2014
25184,WLF,FJI,788.659844,5,0,0,Oceania,Oceania,2014
25185,WSM,TON,886.965764,5,0,0,Oceania,Oceania,2014
25186,YEM,SDN,1252.923086,5,0,0,Arab States,Arab States,2014
25187,ZAF,MOZ,1624.479577,5,0,0,Africa,Africa,2014
25188,ZMB,SWZ,1269.355560,5,0,0,Africa,Africa,2014
25189,ZWE,SWZ,960.777189,5,0,0,Africa,Africa,2014

In [90]:
neighbors_df = df_base

In [91]:
neighbors_df.to_csv(directory +'neighbors_base.csv', index = False)